<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
    
    <description>
      Date Example App
    </description>
   
    <display-name>
      Date Example App
    </display-name>

    <!-- Define servlets -->

    <servlet>
      <servlet-name>DateExample</servlet-name>
      <servlet-class>DateExample</servlet-class>
    </servlet>
   
    <servlet>
      <servlet-name>FormExample</servlet-name>
      <servlet-class>FormExample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DateExample</servlet-name>
        <url-pattern>/dateAsServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FormExample</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>

</web-app>
